.main-nav {
  min-height: 68px;
  padding-left: 50px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: black;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a {
  color: black;
}

.main-menu a.active {
  color: black;
  font-weight: bold;
}
